<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_donations" />
  <input type="hidden" name="business" value="H69CMSB6JMJLY" />
  <input type="hidden" name="item_name" value="Mantener funcionando el buscador de cursos INAP" />
  <input type="hidden" name="currency_code" value="EUR" />
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="Pulsa aquí para donar :)" alt="Pulsa aquí para donar :)" />
  <img alt="" border="0" src="https://www.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1" />
</form>
